version: '3.8'

services:
  app:
    build: .
    container_name: entidad_app
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: entidad_db
    restart: always
    environment:
      MYSQL_DATABASE: entidad
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
